mat-form-field {
    width: 100%
}

textarea {
    width: 100%
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}